
<div class="mainContent">

<h1>Movie Info</h1>
<br><br>

<h1>{{movie.title}}</h1>
<h4>{{movie.director}}</h4>
<h4>{{movie.stars}}</h4>
<h4> <img src="{{movie.image}}" alt="movieImage"> </h4>

<div class="par-padding">
<h4>{{movie.description}}</h4>
</div>

<br>
<h4>{{movie.showtimes}}</h4>


<a href="/movies/"> Movies Info </a>
<br><br>
    <a href="/"> Home </a>

</div>